{{define "title"}}Create URL{{end}}

{{define "main"}}
{{template "twoGridHead" .}}
<h2 class="text-2xl font-bold text-gray-900">Create URL</h2>
<p class="mt-4 text-gray-600">Please enter your information below to create a new URL.</p>
<form class="mt-8" action="/urls" method="post">
    <div class="flex flex-col">
        <label for="original" class="hidden">URL</label>
        <input type="url" name="original" id="original" placeholder="Long URL"
               class="px-4 py-3 rounded-lg shadow-lg focus:outline-none focus:shadow-outline"/>
    </div>
    <div class="flex flex-col">
        <label for="short_code" class="hidden">URL</label>
        <input type="text" name="short_code" id="short_code" placeholder="Optional: Short Code"
               class="px-4 py-3 rounded-lg shadow-lg focus:outline-none focus:shadow-outline"/>
    </div>
    <div class="mt-6">
        <button type="submit"
                class="px-5 py-3 mt-8 font-medium text-indigo-600 bg-white rounded-md shadow-lg hover:bg-indigo-50">
            Create
        </button>
    </div>
</form>
{{template "twoGridFoot" .}}
{{end}}
