{{define "title"}}Dashboard{{end}}
{{define "main"}}
<div class="px-8 py-8 max-w-full mx-auto lg:px-12 lg:12">
    <h2 class="text-2xl font-bold text-gray-900">Dashboard</h2>
    <p class="mt-4 text-gray-600">Welcome back, {{ .User.Name }}!</p>
    {{ if .Urls }}
    <div>
        <h3 class="mt-8 text-xl font-bold text-gray-900">Your URLs</h3>
        <table class="table-auto">
            <thead>
            <tr>
                <th>Original</th>
                <th>Short</th>
                <th>Created At</th>
                <th>Visitors</th>
                <th>QR Code</th>
                <th>Delete</th>
            </tr>
            </thead>
            {{ range .Urls }}
            <tbody>
            <tr>
                <td class="px-4 py-2">
                    <a href="{{ printf " %.25s" .Original }}" class="text-indigo-600 hover:underline">{{ .Original }}</a>
                </td>
                <td class="px-4 py-2">
                    <a href="{{ .ShortUrl }}" class="text-indigo-600 hover:underline">{{ .ShortUrl }}</a>
                </td>
                <td class="px-4 py-2">{{humanDate .CreatedAt }}</td>
                <td class="px-4 py-2">{{ .Visits }}</td>
                <td class="px-4 py-2">
                {{ if .QRCodeURL }}
                    <img src="{{ .QRCodeURL }}" alt="QR Code" class="w-8 h-8 cursor-pointer" onclick="openOverlay('{{ .QRCodeURL }}')">
                {{ end }}
                </td>
                <td class="px-4 py-2">
                    <form action="/urls/{{ .ID }}" method="POST">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="csrf_token" value="{{$.CSRFToken}}">
                        <button type="submit" class="text-red-600 hover:underline">🗑️</button>
                    </form>
                </td>
            </tr>
            </tbody>
            {{ end }}
        </table>
        <!-- Overlay container -->
        <div id="overlay" class="hidden bg-black bg-opacity-75 items-center justify-center">
            <img id="overlayImage" class="max-w-full max-h-full absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2" alt="Overlay Image">
        </div>
    </div>
    {{end}}
</div>

<script>
    function openOverlay(imageSrc) {
        const overlay = document.getElementById('overlay');
        const overlayImage = document.getElementById('overlayImage');

        // Set the overlay image source
        overlayImage.src = imageSrc;

        // Show the overlay
        overlay.classList.remove('hidden');

        // Add a click event to close the overlay when clicking outside the image
        overlay.addEventListener('click', function () {
            overlay.classList.add('hidden');
        });
    }
</script>

{{end}}
