{{define "base"}}
<!doctype html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <title>{{template "title" .}} - Shrinkster</title>
    <link rel="stylesheet" href="/static/css/tailwind.css"/>
    <link rel="stylesheet" href="https://cdn.xeiaso.net/static/pkg/iosevka/family.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body class="bg-gray-100 flex flex-col min-h-screen">
    <header>
        {{template "nav" .}}
    </header>

    <main class="flex-grow">
        <div class="grid lg:grid-cols-2">
            <div class="px-8 py-12 max-w-full mx-auto lg:px-12 lg:py-24">
                <img class="mt-8 rounded-lg shadow-xl h-64 w-full object-cover object-center lg:hidden" src="/static/splash.jpg"
                     alt="sunset at a beach">
                {{template "main" .}}
            </div>
            <div class="hidden relative lg:block">
                <img class="absolute inset-0 w-full h-full object-cover object-center" src="/static/splash.jpg"
                     alt="sunset at a beach">
            </div>
        </div>
    </main>

    {{template "footer" .}}

</body>
</html>
{{end}}