{{define "nav"}}
<nav class="flex justify-between items-center bg-white h-16">
    <div class="flex items-center ml-4">
        <img src="static/logo.png" alt="Logo" class="h-10 w-10 mr-4">
        <a href="/" class="text-base font-semibold hover:underline">Home</a>
        <a href="/about" class="text-base font-semibold hover:underline ml-4">About</a>
    </div>
    <div class="flex items-center mr-4">
        <a href="/login" class="text-base font-semibold hover:underline mr-4">Login</a>
        <a href="/signup" class="text-base font-semibold hover:underline">Sign Up</a>
    </div>
</nav>
{{end}}
